
/*body{
	background:#F5F5F5;
}*/
*{
	padding:0px;
	margin:0px;
	list-style-type:none;
}
.a0{/*最大边框*/
	width:1600px;
	height:1600px;
	background:white;
}
.a1{/*顶山边框*/
	width:1600px;
	/*background:pink;*/
	height:100px;
}
.a2{/*天猫框*/
	width:260px;
	/*background:green;*/
	height:70px;
	float: left;
	margin-left: 150px
}
.a2 img{
	width:265px;
	height:70px;
	margin-top: 20px;
}
.a3{/*搜索大框*/
	width:580px;
	height:90px;
	/*background:lightblue;*/
	float: left;
	margin-top: 8px;
	margin-left: 180px;
}
.a4 {/*搜索框内框*/
	width:580px;
	height:60px;
	/*background:blue;*/
	margin-top: 5px;
}
.a5 input{/*输入框*/
	width:470px;
	height:40px;
	border:3px solid red;
	margin-top: 5px;
	float: left;
}
.a6{/*搜索框*/
	width:103px;
	height:46px;
	background:red;
	float: left;
	margin-top: 5px;
	font-size:25px;
	color:white;
	text-align: center;
	line-height:48px;
}
.a6 a{
	color:white;
	text-decoration:none;
}
.a7{
	width:540px;
	height:25px;
	/*background:blue;*/
	margin-top:-5px;
}
.a7 li{
	padding: 0 10px;
	height:27px;
	list-style-type:none;
	float:left;
	font-size:12px;
	line-height: 27px;
	/*border-right: 1px solid grey;*/
	margin-top:2px;
}
.a7 a{
	color:#000;
	text-decoration: none;
}
.a7 a:hover{
	color:red;
	text-decoration:underline;
	font-size:13px;
}
.a8{
	width:1600px;
	height:20px;
	/*background:pink;*/
	margin-top: 10px;
	margin-bottom: 0px;
}
.a8 li{
	list-style-type:none;
	float: left;
	/*border:1px red solid;*/
	padding:0 18px;
	font-size:15px;
	margin-left:30px;
	color:white;
}
.a8 li a{
	text-decoration:none;
}
.a8 li:nth-child(1){
	width:150px;
	text-align: center;
	background:red;
	color:white;
}
.a8 li:nth-child(1) a{
	color:white;
}
.a9{/*蓝色大框*/
	width:1600px;
	height:500px;
	background:blue;
	position:relative;
}
.a10{
	width: 186px;
	height:500px;
	/*border:1px solid red;*/
	margin-top:0px;
	margin-left: 30px;
	background:#000;
	float: left;
}
.a10 li{
	list-style-type:none;
	font-size:15px;
	padding:5px 5px;
	padding-left:25px;
}
.a10 li a{
	text-decoration:none;
	color:#FAF0E6;
}
.a10 a:hover{
	color:red;
	font-size:17px;
	text-decoration:underline;
}
.a11{/*图片框*/
	width:900px;
	height:500px;
	/*border:1px solid red;*/
	float: left;
	position:relative;
}
.a11 img{
	width:900px;
	height:500px;
}
.a12{
	width:350px;
	height:350px;
	/*border:1px solid red;*/
	position:absolute;
	right:71px;
	bottom:170px;
}
.a12 img{
	width:350px;
	height:489px;
}
.a13{
	width:180px;
	height:500px;
	/*background:lightgreen;*/
	float: left;
}
.a13 img{
	width:180px;
	height:500px;
}
.a14 li{
	width:30px;
	height:30px;
	background:#000;
	list-style-type:none;
	float: left;
	border-radius:15px;
	text-align:center;
	line-height:30px;
	margin-left: 10px;
}
.a14{
	width:170px;
	height:40px;
	/*border:1px solid red;*/
	position:absolute;
	left:570px;
	bottom:10px;
}
.a14 a{
	color:white;
	text-decoration:none;
}
.a14 li:nth-child(3){
	background:red;
}
.a15{/*中边框*/
	width:1600px;
	height:460px;
	/*background:pink;*/
	margin-top:50px;
}
.a16{
	width:1270px;
	height:460px;
	/*background:lightblue;*/
	margin-left:100px;
}
.a17{/*热门品牌小框*/
	width:1060px;
	height:20px;
	/*background:lightgreen;*/
}
.a18{
	width:210px;
	height:20px;
	/*background:yellow;*/
	float: left;
}
.a19{
	width:1060;
	height:20px;
	/*background:red;*/
}
.a19 li{
	width:70px;
	height:20px;
	/*background:yellow;*/
	float: left;
	list-style-type:none;
	text-align:center;
	margin-left:15px;
}
.a19 a{
	color:grey;
	text-decoration:none;
}
.a19 li:nth-child(1) a{
	color:#000;
	text-decoration:underline;
}
.a19 li:nth-child(5){
	margin-left: 350px;
}
.a19 li:nth-child(5) a{
	color:#000;
	font-size:13px;
}
.a19 li:nth-child(6) a{
	font-size:13px;
}
.a20{
	width:210px;
	height:440px;
	/*background:blue;*/
	float: left;
}
.a20 img{
	width:210px;
	height:440px;
}
.a21{/*中间小图框*/
	width:850px;
	height:440px;
	/*background:orange;*/
	float: left;
}
.a22{
	width:850px;
	height:440px;
	/*background:green;*/
	float: left;
}
.a22 li{
	width:141.6px;
	height:110px;
	list-style-type:none;
	float: left;
}
.a22 img{
	width:141.6px;
	height:110px;
}
.a23{
	width:210px;
	height:440px;
	float: left;
}
.a23 img{
	width:210px;
	height:440px;
}
.a24{
	width:1050px;
	height:80px;
	/*background:pink;*/
	margin-left: 200px;
}
.a24 img{
	width:1050px;
	height:80px;
}
.a25{/*下边大框*/
	width:1600px;
	height:436px;
	/*background:lightgreen;*/
	margin-top: 20px;
}
.a26{
	width:1300px;
	height:426px;
	/*background:green;*/
	margin-left: 100px;
}
.a27{/*下左边框*/
	width:220px;
	height:426px;
	/*background:blue;*/
	float:left;
}
.a28{
	width:220px;
	height:90px;
	/*background:skyblue;*/
	position:relative;
}
.a28 img{
	width:220px;
	height:90px;
	
}
.a29{
	width:145px;
	height:55px;
	/*background:pink;*/
	position:absolute;
	top:19px;
	left:73px;
}.a30{
	width:57px;
	height:55px;
	/*background:yellow;*/
	float: left;
	text-align: center;
}
.a30 img{
	width:20px;
	height:20px;
	margin-left: 7px;
}
.a30 a{
	color:white;
	text-decoration:none;
	font-size:13px;
}
.a31{
	width:15px;
	height:55px;
	/*background:grey;*/
	float: left;
	text-align:center;
	font-size:22px;
	line-height:55px;
	color:white;
}
.a32{
	width:57px;
	height:55px;
	/*background:green;*/
	float: left;
	margin-left: 15px;
	/*text-align: center;*/
}
.a32 img{
	width:20px;
	height:20px;
	margin-left:5px;
}
.a32 a{
	color:white;
	text-decoration:none;
	font-size:13px;
}
.a33{
	width:220px;
	height:73px;	
	background:white;
}
.a33 img{
	margin-left:55px;
	margin-top:10px;
}
.a34{
	width:220px;
	height:73px;	
	background:white;
}
.a34 img{
	margin-left:55px;
	margin-top:10px;
}
.a35{
	width:220px;
	height:73px;	
	background:white;
}
.a35 img{
	margin-left:55px;
	margin-top:10px;
}
.a36{
	width:222px;
	height:134px;
	/*background:yellow;*/
}
.a36 li{
	width:107px;
	height:35px;
	/*border:1px solid red;*/
	float: left;
	text-align:center;
}
.a36  a{
	text-decoration: none;
	color:#000;
}
.a37{
	width:399px;
	height:436px;
	/*background:pink;*/
	float:left;
	margin-left: 1px;
}
.a37 img{
	width:399px;
	height:436px;
	float: left;
}
.a38{
	width:680px;
	height:426px;
	/*border:3px solid red;*/
	margin-left: 620px;
}
.a39{
	width:680px;
	height:300px;
	/*background:pink;*/
	float:left;
}
.a39 li img{
	width:223px;
	height:300px;
	/*border:1px solid red;*/
	float: left;
}
.a40{
	width:680px;
	height:126px;
	/*background:skyblue;*/
	float:left;
}
.a40 li{
	width:225px;
	height:126px;
	/*background:yellow;*/
	float: left;
}
.a40 li img{
	width:225px;
	height:136px;
	float:left;
}
